* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
 
}

.container {
  margin: 4em 25em;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: solid black 1.2px;
  
}

.grid-div {
  border: solid black 1px;
}

.control {
    width : 600px;
    margin: 4em 25em 0 25em;
}

#size, #random {
    font-size: 22px;
    font-weight: bold;
    padding: 4px 8px;
    height: 60px;
    border: 3px solid teal;
    border-radius: 10px;
}