* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
}

.container {
  margin: 100px 25em;
  display: flex;
  width: 500px;
  height: 500px;
  background-color: white;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: solid black 1.2px;
}

.grid-div {
  border: solid black 1px;
}
