* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: burlywood;
 
}

.container {
  margin: 4em 25em;
  display: flex;
  background-color: white;
  flex-wrap: wrap;
  box-sizing: content-box;
  border: solid black 1.2px;
}

.grid-div {
  border: solid black 1px;
}

.control {
    width : 600px;
    margin: 4em 25em 0 25em;
}

#size {
    font-size: 25px;
    font-weight: bold;
    padding: 5px 10px;
    height: 60px;
}